<!DOCTYPE html>
<html>
<head>
    <title>First Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <nav>
        <a href="/index">home</a>
        <a href="/main">messages</a>
        <form action="/logout" method="post">
            <input type="submit" value="Выйти">
        </form>
    </nav>
    <p>Hello !</p>
</body>
</html>